@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue" , sans-serif;
}
body {
    color: rgb(214, 214, 214);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-weight: 600;
    padding: 0 10%;
}

.navbar a {
    font-size: 18px;
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active {
    color: rgb(126, 42, 42);
}

.home {
    height: 100vh;
    background: url('images/website\ Background\ Cover.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
}

.home-content .button {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin: 20px 0 40px;
}

.button a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(126, 42, 42);
    border: 2px solid rgb(126, 42, 42);
    border-radius: 8px;
    font-size: 19px;
    color: rgb(214, 214, 214);
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.button a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(84, 84, 84);
    z-index: -1;
    transition: .5s;
}

.button a:hover::before {
    width: 100%;
}

.home-socia-icons {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-socia-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(126, 42, 42);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(126, 42, 42);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-socia-icons a {
    color: rgb(214, 214, 214);
}

.home-socia-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(126, 42, 42);
    z-index: -1;
    transition: .5s;
}

.home-socia-icons a:hover::before {
    width: 100%;
}